---
import Layout from '../layouts/Layout.astro';
import VisionMission from '../sections/Vision&Mission.astro';
---

<Layout title='Home - S White Granite' description='Home page of S White Granite'>
	<main>
		<h1>Home Page</h1>
	</main>
</Layout>
