---

---
<section class="px-5 max-w-screen-xl mx-auto my-26">
    <div class="flex flex-wrap gap-10 md:gap-0">
        <div class="w-full md:w-2/5 md:pr-18 md:max-w-lg flex gap-8 flex-col justify-end">
            <h2 class="section-heading">
                Our <strong>Mission</strong>
            </h2>
            <p>
                With over 25 years in the industry, our mission 
                remains the same: to provide premium marble and 
                granite products that meet the highest standards of 
                quality and craftsmanship. We are passionate about 
                delivering elegant, durable, and timeless solutions 
                that elevate the aesthetic of every space. Guided by 
                innovation and a commitment to excellence, we ensure 
                each project is an expression of unparalleled skill and artistry.
            </p>
        </div>
        <div class="w-full h-full md:flex-1">
            <img class="w-full max-h-[420px] object-cover" src="/images/test-img.jpg" alt="image">
        </div>
    </div>

    <div class="flex flex-wrap mt-10 flex-col-reverse md:[flex-direction:initial] gap-10 md:gap-0">
        <div class="w-full h-full md:w-2/5">
            <img class="w-full max-h-[420px] object-cover" src="/images/test-img.jpg" alt="image">
        </div>
        <div class="w-full md:flex-1 md:pl-18 md:max-w-lg flex gap-8 flex-col justify-end">
            <h2 class="section-heading">
                Our <strong>Vision</strong>
            </h2>
            <p>
                We are guided and inspired by our vision to be the leading 
                supplier of marble and granite in the industry. Our goal is 
                to consistently exceed client expectations by offering a vast 
                range of high-quality stone products that cater to diverse tastes 
                and needs. We envision transforming spaces with the beauty and 
                longevity of our products while maintaining an unwavering 
                focus on sustainability and responsible sourcing.
            </p>
        </div>
    </div>
</section>